<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./fonts/inter.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="header">
        <div class="join_logo1"><img src="img/join-logo-signup.svg"></img></div>
        <div class="header_text">Kanban Project Management Tool</div>
        <div class="icon_box">
            <a class="help_icon" href="help.html"><img src="img/help.svg"></a>
            <div id="userInitials" class="userImage" onclick="showLogout()"></div>
        </div>
    </div>
    <div id="header-logout"></div>
    <script src="js/header.js"></script>
</body>
</html>