<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="./fonts/inter.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="sideboard">
        <div class="join_logo">
            <img src="img/join_logo.svg"></img>
        </div>
        <div class="emptyspace"></div>
        <a class="sidemenu_element" id="summary" href="summary.html">
            <div class="menu_icons"><img src="img/summary.svg"></div>
            <div class="menu_links">Summary</div>
        </a>
        <a class="sidemenu_element" id="add-task" href="add-task.html">
            <div class="menu_icons"><img src="img/addtask.svg"></div>
            <div class="menu_links">Add Task</div>
        </a>
        <a class="sidemenu_element" id="board" href="board.html" >
            <div class="menu_icons_board"><img src="img/board.svg"></div>
            <div class="menu_links">Board</div>
        </a>
        <a class="sidemenu_element" id="contacts" href="contacts.html">
            <div class="menu_icons"><img src="img/contacts.svg"></div>
            <div class="menu_links">Contacts</div>
        </a>
        <div class="emptyspace"></div>
        <div class="down">
            <a class="down_links" href="privacy_policy.html">Privacy Policy</a>
            <a class="down_links" href="legal_notice.html">Legal notice</a>
        </div>
    </div>
</body>
</html>